<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Music Master</title>
        <meta name="keywords" content="chitara, pian, oraga, acordeon, clarinet, fluier, intrumente muzicale, magazin de muzica" >
        <meta name="description" content="Vanzare de instrumente muzicale - Site dedicat toturor pasionatiolor de muzica." >
        <link rel="stylesheet" href="resurse/css/nav.css" type="text/css" />
        
        <link rel="stylesheet" href="resurse/css/nav-750.css" type="text/css" media="screen and (max-width:750px)" />
        <link rel="stylesheet" href="resurse/css/layout.css" type="text/css" />
        <link rel="stylesheet" href="resurse/css/galerie-statica.css" type="text/css"/>
        <link rel="stylesheet" href="resurse/css/galerie-animata.css" type="text/css"/>
        <link rel="stylesheet" href="resurse/css/print.css" type="text/css" media="print"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <%- include("../fragmente/head.ejs") %>

    </head>

    <body>

        <%- include("../fragmente/header.ejs") %>

        <p id="watermark"></p>
        <p id="absolut"></p>

            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="meniu">
                    <li><a href="#"> <i class="fa-solid fa-house"></i> Acasa</a>
                    </li>



                    <li class="meniu2"><a href="#Chitare">Chitare</a>
                        <ul class="submeniu">
                            <li><a href="#Chitara clasica">Chitara clasica</a></li>
                            <li><a href="#Chitara rock">Chitara rock</a></li>
                            <li><a href="#Chitara bass">Chitara bass</a></li>
                            <li><a href="#Chitara acustica">Chitara acustica</a></li>
                        </ul>

                    </li>
                    
                    <li><a href="#Piane si orgi">Piane si orgi</a>
                        <ul class="submeniu">
                            <li><a href="#Pian">Pian</a></li>
                            <li><a href="#Pianina">Pianina</a></li>
                            <li><a href="#Orga">Orga</a></li>
                        </ul>

                    </li>

                    <li><a href="/produse">Produse</a>
                        <ul class="submeniu">
                            <li><a href="#Accesorii chitara">Accesorii chitara</a></li>
                            <li><a href="#Solutie curatat">Solutie curatat</a></li>
                            <li><a href="#Partituri">Partituri</a></li>
                            <li><a href="#Instrumente">Instrumente</a></li>
                        </ul>

                    </li>
                    <li><a href="/inregistrare">Inregistrare</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </nav>
           
        
      
        <main>
            <div id="grid-pagina">
                <section id="welcome">
                    <!-- <h2><button class="btn btn-primary">Bun venit!</button></h2> -->
                    <p><q>Pe pagina noastra puteti gasi o mare varietate de instrumente muzicale, comenzile de peste 300 de lei primesc transportul gratuit.</q></p>
                
                    <h2>Reduceri</h2>

                    <article id="noprint">
                        <h3 class="titlu">Super ofertele pe care nu le poti rata</h3>
                        <p><b>Music Master</b> oferă <b>reduceri de<ins> 20%!!</ins></b>  Orice chitara acustica are 20% reducere pana pe 1 noiembrie.</p>
                        <video width="320" height="240" controls="controls">
                            <source src="resurse/videoclipuri/videochitara.mp4" type="video/mp4">
                            <source src="resurse/videoclipuri/videochitara.ogv" type="video/ogv">
                            <track default src="resurse/videoclipuri/mesaje_ro.vtt" kind="captions" srclang="ro" label="romana" />
                            <track  src="resurse/videoclipuri/mesaje_en.vtt" kind="captions" srclang="en" label="engleza" />                       
                           </video>
                    </article>

                    <article>
                        <section id="Chitare">
                            <h3>Chitare</h3>
                        </section>   
                    </article>

                    <article>
                        <section id="Chitara clasica">
                            <h3><b>Chitara clasica 4/4 HG39-101N</b></h3>
                            <picture>
                                <source srcset="./resurse/imagini/chitaraclasica.jpg">
                                <source srcset="./resurse/imagini/chitaraclasica.jpg">
                                <img class = "imaginemeniu" src="./resurse/imagini/chitaraclasica.jpg" alt="chitaraacustica.jpg">
                            </picture>
                        </section>        
                    </article>


                    <article>
                            <section id="Chitara acustica">
                            <h3><b>chitara acustica 4/4</b></h3>
                                <picture>
                                    <source srcset="./resurse/imagini/chitaraacustica.jpg" media="(max-width:700px)">
                                    <source srcset="./resurse/imagini/chitaraacustica.jpg" media="(max-width:1200px)">
                                    <img class = "imaginemeniu" src="./resurse/imagini/chitaraacustica.jpg" alt="chitaraacustica.jpg">
                                </picture>
                            </section>
                    </article>


                    <article>
                            <section id="Chitara rock">
                             <h3><b>chitara rock</b></h3>
                             <picture>
                                <source srcset="./resurse/imagini/chitararock.jpeg" media="(max-width:700px)">
                                <source srcset="./resurse/imagini/chitararock.jpeg" media="(max-width:1200px)">
                                <img class = "imaginemeniu" src="./resurse/imagini/chitararock.jpeg" alt="chitararock.jpg">
                             </picture>
                            </section>
                                
                    </article>

                    <article>
                        <section id="Chitara bass">
                         <h3><b>chitara bass</b></h3>
                            <picture>
                                <source srcset="./resurse/imagini/chitarabass.jpg" media="(max-width:700px)">
                                <source srcset="./resurse/imagini/chitarabass.jpg" media="(max-width:1200px)">
                                <img class = "imaginemeniu" src="./resurse/imagini/chitarabass.jpg" alt="chitarabass.jpg">
                            </picture>
                        </section>
                    </article>
    
                    <article>
                        <section id="Piane si orgi">
                            <h1>Piane si orgi</h1>
                        </section>   
                    </article>

                    <article>
                        <section id="Pian">
                         <h3>Pian</h3>
                            <picture>
                                <source srcset="./resurse/imagini/pian.jpg" media="(max-width:700px)">
                                <source srcset="./resurse/imagini/pian.jpg" media="(max-width:1200px)">
                                <img class = "imaginemeniu" src="./resurse/imagini/pian.jpg" alt="pian.jpg">
                            </picture>
                        </section>
                    </article>

                    <article>
                        <section id="Pianina">
                         <h3>Pianina</h3>
                            <picture>
                                <source srcset="./resurse/imagini/pianina.jpg" media="(max-width:700px)">
                                <source srcset="./resurse/imagini/pianina.jpg" media="(max-width:1200px)">
                                <img class = "imaginemeniu" src="./resurse/imagini/pianina.jpg" alt="pianina.jpg">
                            </picture>
                        </section>
                    </article>
               
    
                    <article>
                        <section id="Orga">
                         <h3>Orga</h3>
                            <picture>
                                <source srcset="./resurse/imagini/orga.jpg" media="(max-width:700px)">
                                <source srcset="./resurse/imagini/orga.jpg" media="(max-width:1200px)">
                                <img class = "imaginemeniu" src="./resurse/imagini/orga.jpg" alt="orga.jpg">
                            </picture>
                        </section>
                    </article>

                  <article>
                    <section id="Altele">
                        <h1>Produse</h1>
                    </section>   
                  </article>

                  <article>
                    <section id="Accesorii chitara">
                     <h3>Accesorii chitara</h3>
                        <picture>
                            <source srcset="./resurse/imagini/accesorii.jpg" media="(max-width:700px)">
                            <source srcset="./resurse/imagini/accesorii.jpg" media="(max-width:1200px)">
                            <img class = "imaginemeniu" src="./resurse/imagini/accesorii.jpg" alt="accesorii.jpg">
                        </picture>
                    </section>
                 </article>

                  <article>
                    <section id="Solutie curatat">
                    <h3>Solutie de curatat</h3>
                        <picture>
                            <source srcset="./resurse/imagini/solutie.jpg" media="(max-width:700px)">
                            <source srcset="./resurse/imagini/solutie.jpg" media="(max-width:1200px)">
                            <img class = "imaginemeniu" src="./resurse/imagini/solutie.jpg" alt="solutie.jpg">
                        </picture>
                    </section>                 
                  </article>

                  <article>
                    <section id="Partituri">
                    <h3>Partituri</h3>
                        <picture>
                            <source srcset="./resurse/imagini/partituri.jpg" media="(max-width:700px)">
                            <source srcset="./resurse/imagini/partituri.jpg" media="(max-width:1200px)">
                            <img class = "imaginemeniu" src="./resurse/imagini/partituri.jpg" alt="partituri.jpg">
                        </picture>
                    </section>                 
                  </article>

                  
                 
                    
                </section>
                



                 <section id="anunturi">
                    <h2>Pe data de 20 Ianuarie se anunta castigatorul tombolei!</h2>
                    <p>Orice comanda de peste 100 de lei primeste automat un bilet de inscriere la marea tombola!</p>
                        
                    <h2>Promotii</h2>
                    <article>
                        <h3 class="titlu">Orice comanda plasata intre 10 si 20 noiembrie primeste transportul gratuit!</h3>
                    </article>

                    <div id = "noprint" class = "flexbox">
                        <br/>
                       
                        <div id = "noprint" class = "inline">
                            <div class = "rectangle_link">
                                <br/>
                                &nbsp; <a class = "ylink" target = "myiframe" href = "https://youtube.com/embed/KCZAr4br-KU">Chitara</a>
                            </div>

                            <div class = "rectangle_link">       
                                <br/>
                                &nbsp; <a class = "ylink" target = "myiframe" href = "https://youtube.com/embed/DmL12NRE4hQ">Pian</a>
                            </div>
 
                            <div class = "rectangle_link">       
                                <br/>
                                &nbsp; <a class = "ylink" target = "myiframe" href = "https://youtube.com/embed/rAcgdfpk3lo">Tobe</a>
                            </div>
                        </div>
                        <div class = "inline">
                            <iframe class="videobox" name="myiframe" width="400" height="250" src="https://youtube.com/embed/KCZAr4br-KU"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>


                </section>


                <section id="blkfrid">
                    <figure id="fig2" class="fg-img">
                        <img src="resurse/imagini/blkfrid.jpg" alt="blkfrid" width="400px">
                        </figure>
                </section>

                <section id="tabel">
                    <h2>Cele mai vandute perechi din utlima saptamana:</h2>
                    <br></br>
                    <table id="tab-clasament">
                        <thead>
                            <tr>
                                <th class="par">Top</th>
                                <th class="impar">Brand</th>
                                <th class="par">Model</th>
                                <th class="impar">Instrument</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="par">1</td>
                                <td class="impar">Harley Benton</td>
                                <td class="par">D-120CE TB</td>
                                <td class="impar">Chitara</td>
                            </tr>
                            <tr>
                                <td class="par">2</td>
                                <td class="impar">Yamaha</td>
                                <td class="par">SLG200S</td>
                                <td class="impar">Chitara Rock</td>
                            </tr>
                            <tr>
                                <td class="par">3</td>
                                <td class="impar">Roland</td>
                                <td class="par">FP-10</td>
                                <td class="impar">Pian</td>   
                            </tr>
                            <tr>
                                <td class="par">4</td>
                                <td class="impar">Millenium</td>
                                <td class="par">MD-2210A</td>
                                <td class="impar">Tobe</td>
                            </tr>
                            <tr>
                                <td class="par">5</td>
                                <td class="impar">Thomann</td>
                                <td class="par">Dp-140B U BK</td>
                                <td class="impar">Pian</td>
                            </tr>
                        </tbody>
                            <tfoot>
                            <tr >
                                <td class="par" colspan="3">Ultima actualizare:</td>
                                <td class="impar" colspan="5">23.11.2022</td>
                            </tr>
                        </tfoot>
                    </table> 
                </section>
            

                <section id="guitarplay">
                    <figure id="fig2" class="fg-img">
                        <img src="resurse/imagini/guitarplay.jpg" alt="blkfrid" width="300px">
                        </figure>
                </section>

                <section id="cursuri">
                    <h2>Incepand cu 1 ianuarie 2023 vom tine si cursuri de chitara online!</h2>
                    <p>Cursurile de chitara se vor tine in fiecare sambata la ora 18:00 si au ca incepatorii.</p>
                    <p>Cursurile pot fi accesate o data cu acizitia unui instrument, prin intermediul unui cod oferit de noi.</p>
                    
                </section>

                <section id="c">
                    <figure id="fig2" class="fg-img">
                        <img src="resurse/imagini/C.jpg" alt="blkfrid" width="300px">
                        </figure>
                </section>

                <section id="Intreb">
                    <h2>Întrebări frecvente</h2>
                    <details><summary>Produsele beneficiaza de garantie?</summary>
                        <p>Da! Produsele beneficiaza de o garantie de 2 ani!</p>
                    </details>
                    <details><summary>Cum primim acces la cursuri?</summary>
                        <p>Fiecare chitara vine cu un cod unic ce poate fi introdus pe site-ul nostru pentru o licenta de 4 luni.</p>
                    </details>
                    <details><summary>Ce se intampla cu contul in caz de retur</summary>
                        <p>Contul va pierde accesul la cursuri incepand cu urmatoarea luna.</p>
                    </details>
                </section>
                
                
                <section id="desprenoi">
                    <section id="galerie-statica">
                        <div id = "text">
                            Galerie
                            <div id="text-reflectat">
                                Galerie
                            </div>
                        </div>
                        <div id="grid-galerie">
                            <%  for(let imag of locals.imagini) { %>
                            <figure>
                                <img src = "<%- imag.fisier %>" alt = "imagine" >
                                <figcaption>"<%- imag.descriere %>"</figcaption>
                            </figure>
                            <% } %>
                        </div>
                    </section>
                    <div id="galerie-animata" class="galerie-a">
                        <%  for(let imag of locals.imagini) { %>
                            <figure>
                                <img src = "<%- imag.fisier %>" alt = "imagine" >
                                <figcaption>"<%- imag.descriere %>"</figcaption>
                            </figure>
                            <% } %>
                    </div>
                    <div id="imagine"> 
                    </div>
                    <h2>Despre noi!</h2>

                    <p><strong>Misiunea noastra </strong> este de a distribui instrumente de calitate si la preturi cat mai avantajoase si de a oferi clientilor nostri oportunitatea de a invata intr-un mediu prietenos.
                </section>
            </div>
                

                
        </main>
    
        <%- include("../fragmente/footer.ejs") %>

    </body>

   
</html>
   