<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="chitara, pian, oraga, acordeon, clarinet, fluier, intrumente muzicale, magazin de muzica" >
        <meta name="description" content="Vanzare de instrumente muzicale - Site dedicat toturor pasionatiolor de muzica." >
        <link rel="stylesheet" href="resurse/css/nav.css" type="text/css" />
        
        <link rel="stylesheet" href="resurse/css/nav-750.css" type="text/css" media="screen and (max-width:750px)" />
        <link rel="stylesheet" href="resurse/css/layout.css" type="text/css" />
        <link rel="stylesheet" href="resurse/css/galerie-statica.css" type="text/css"/>
        <link rel="stylesheet" href="resurse/css/galerie-animata.css" type="text/css"/>
        <link rel="stylesheet" href="resurse/css/print.css" type="text/css" media="print"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <title>Cofetăria Dulcelind - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragmente/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
</main>

<footer>
    <%- include("../fragmente/footer") %>
</footer>

</body>
</html>